h3{
    color: green;
    font-family: Times New Roman;
}

h2{
    color: green;
    font-size: 24px;
}

h3{
    color: purple;
    font-size: 22px;
}
body{
    font-family: Arial;
    background-color: #f2f2f2;
    padding: 20px;
}

h1{
    color: darkblue;
    font-size: 32px;
}

p{
    color: #333;
    font-size: 18px;
}

button{
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
}
