body{
  font-family: "Poppins", sans-serif;

}

.header{
    background-color: antiquewhite;
    padding-top: 4px;
    padding-bottom: 50px;
}
.container{
    display: flex;
    justify-content: space-between;
   margin: 30px;
}

.container nav{
    margin-top: 10px;
      
}
.h1,.h2,.h3,.h4,.h5{
    margin-right: 25px;
}
a{
    text-decoration: none;
    color: grey;
}
a:hover{
    color:red;
}

.content{
    margin-top: 150px;
    margin-left: 50px;
}

.content img{

    
}
.total{
    display: flex;
}
.btn{
    height: 30px;
    background-color:brown;
    width: 150px;
    border-radius: 30px;
    text-align: center;
    padding-top: 6px;
}
.btn:hover{
    background-color: red;
}

.images{
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 10px;
    justify-content: space-around;

    
}
.img1,.img2,.img3{
    margin-left: 30px;
}

.products{
    margin: 80px;
}
.line{

    height: 5px;
    width: 200px;
    background: red;
    border-radius: 80px;
    margin-left: 480px;
}
.line1{

    height: 5px;
    width: 200px;
    background: red;
    border-radius: 80px;
    margin-left: 48 0px;
}



.products2{

    margin: 80px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tit{
    text-align: center;
    font-size: 40px;
}

.col-4 h4{
    font-size: 14px;
}

.col-4{

    transition: transform 0.5s;
}
.col-4:hover{

    transform: translateY(-5px);
}


.ex{
    margin-top: 100px;
    margin-bottom: 115px;
    height: 500px;
    width: 1335px;
    background-color:antiquewhite;
    display: flex;

}
.ex-img{
    padding-top: 60px;
    padding-left:150px ;
}

.ex-content{
  
    padding-top: 90px;
    font-size: 15px;
}

.btn2{

    background-color: brown;
    color: aliceblue;
    height: 30px;
    width: 100px;
    border-radius: 25px;
    padding-left:40px;
    padding-top: 8px;
}
.btn2:hover{

    background-color: red;

}
.boxes{

    display: flex;
    margin-left:180px ;
    margin-top: 200px;
    margin-bottom: 200px;
   

}


.box1{
 
    width: 300px;
    height: 325px;
    background-color: rgb(250, 248, 248);
    margin-left: 20px;
     transition: transform 0.5s;
    border-radius: 10px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;

    
}
p{
   font-size: 12px;
}

.box1:hover{

    transform: translateY(-5px);

}
.q{
    border-radius: 50px;
}

.logos{

    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.bottom{

    background-color: black;
    color: aliceblue;
    display: flex;
    height: 200px;
    padding-bottom: 20px;
}

.first{
    padding-left: 90px;
    padding-top: 40px;
}
.second{
    padding-left: 80px;
    padding-top: 70px;
}
.third{
    padding-left: 150px;
}
.o:hover{
    color: orangered;
}
.four{
    padding-left:200px ;
}