body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
*{
font-family: "Nunito", sans-serif;
}
.preview-header {
    width: 96.5%;
    height: 60px;
    background-color: #2f2f2f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    color: white;
}

.left-section {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 100%;
}

.brand {
    font-size: 22px;
    font-weight: bold;
}

.name {
    font-size: 14px;
    color: #cccccc;
}

.right-section {
    display: flex;
    align-items: center;
    height: 100%;
}

.icon {
    margin-right: 18px;
    cursor: pointer;
}

.cart {
    background-color: #7ac142;
    padding: 12px 15px;
    margin-right: 15px;
    cursor: pointer;
}

.close {
    font-size: 18px;
    cursor: pointer;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #ffffff;
}

.logo {
    font-size: 26px;
    font-weight: bold;
}
.logo:hover{
    color: #18cf08;
}

.nav {
    display: flex;
    gap: 25px;
}

.nav{
    font-size: 16px;
    cursor: pointer;
      font-size: 16px;
    color: #000000;
}
.nav:hover {
    color: #10b44f;
}

.hero {
    background-color: #f5f7fa;
    padding: 40px 25px;
    min-height: calc(100vh - 110px);
    width: 96.5%;
    background-color: #ddeafd;
    display: flex;
    align-items: center;
}

.hero-content {
    max-width: 600%;
      
}

.hero-title {
    font-size: 48px;    
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-text {
    font-size: 18px;
    line-height: 1.6;
}

.hero-btn {
    margin-top: 30px;
    display: inline-block;
    padding: 12px 30px;
    background-color: #558fec;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.hero-btn:hover{
    color: #e2e3e6;
    background-color: #0ec93d;
}
.text{
    font-size: 50px;
    color: #0a0a0a;
    margin-left: 460px;
}
.pa{
    align-items: center;
    color: rgb(175, 175, 175);
    margin-left: 200px;
    font-size: 20px;
}
.box1{
    display: inline-block;
    background-color: rgb(223, 222, 222);
    padding: 15px;
    width: 250px;
    align-items: center;
    border-radius: 10px;

}
.box2{
    display: inline-block;
    background-color: rgb(194, 194, 194);
    padding: 15px;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.box3{
    display: inline-block;
    background-color: rgb(211, 210, 210);
    padding: 15px;
    width: 250px;
    align-items: center;
    border-radius: 10px;
}
.box-t{
    margin-left: 150px;
     display: flex;
    gap: 100px;
    
}
.box1:hover,.box2:hover,.box3:hover{
    background-color: #558fec;
}
.icon-circle {
    width: 70px;
    height: 70px;
    background-color: #3b82f6;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -35px auto 20px auto;
}

.icon-circle i{
    color: white;
    font-size: 26px;
}

.icon-circle:hover,.icon-circle i:hover{
    background-color: #cccccc;
    color: #3b82f6;
}
.hello{
    margin-left: 750px;
    font-size: xx-large;
}
.pa1{
  
    display: inline-block;
    margin-left: 750px;
    align-items: center;
}
.bo1 {
    height: 200px;
    width: 400px;
    background-color: gainsboro;
   

    border-left: 5px solid green;
    padding: 20px 25px;
    display: inline-block;
    
}

.ji{
    display:grid;

}
.pic{
   height: 100px;
   widt-h: 100px;
}
.size{
    display:flex;

}